:root{
    --primary: #00adb5;
}
.btn {
    cursor: pointer;
    margin:0 5px;
    padding: 8px 20px;
    border: 1px solid #00adb5;
    outline:none;
    font-size: 1rem;
    color: #00adb5;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid var(--primary);
}

.btn:hover{
color: #eeeeee;
transition: all 0.5s ease-in;
border:1px solid #eeeeee;
border-radius: 50px;

}

.btn-list{
text-decoration: none;
}