.dropdown-menu{
    width: 200px;
    position:absolute;
    top:80px;
    list-style: none;
    text-align: start;
}
.dropdown-menu-fb{
    width: 200px;
    position:absolute;
    top:80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li{
    background: black;
    cursor: pointer;
}
.dropdown-menu-fb li{
    background: black;
    cursor: pointer;
}

.dropdown-menu li:hover{
    border-top:2px solid #00adb5;
    border-bottom: 2px solid #00adb5;
    transition: all 0.3s ease-out;
}
.dropdown-menu-fb li:hover{
    border-top:2px solid #00adb5;
    border-bottom: 2px solid #00adb5;
    transition: all 0.3s ease-out;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}
.dropdown-link-fb{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
}

@media screen and (max-width: 960px){
    .dropdown-menu{
        width: 100%;
        position:absolute;
        top:170px;
        list-style: none;
        text-align: center;
    }
    .dropdown-menu-fb{
        width: 100%;
        position:absolute;
        top:260px;
        list-style: none;
        text-align: center;
    }
}