.workout-creator-container{
    width:80%;
    margin: 0 auto;
    
}

.workout-creator-element{
    margin:20px 0;
    background-color: #222831;
    height:100px;
    
}


.workout-creator-container-options{
    border:1px solid #00adb5;
    border-radius: 10px;
}


.workout-creator-container-selectedType{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    padding:20px 0;
    border-radius: 10px 10px 0 0;
}

.workout-creator-container-selectedType> select{
    background-color: #222831;
    color: #eeeeee;
    border: 1px solid #00adb5;
    border-radius: 10px;
    padding:10px;
    margin-left:10px;
}

.workout-creator-container-typeDescription{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:#393e46 ;
       
}
    


.typeDescription-heading{
    width: 60%;
    font-size: 1.5rem;
    padding-top:20px;
    text-align: left;
    border-bottom: 1px solid #00adb5;
   
}

.typeDescription-content{
    padding:20px 0;
    width:60%;
    text-align: left;
}

.add-type-button{
    padding:8px 20px;
    background-color: #00adb5;
    border: 1px solid #eeeeee;
    color: #eeeeee;
    margin:10px;
    border-radius:10px;
}

.workout-creator-elements-container{
   
}

.workout-creator-element{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:120px;
    margin: 0;
    position: relative;
}

.workout-creator-element:first-child{
    height:160px;
}

.workout-creator-element:nth-child(4){
    height:180px;
}

.workout-creator-element:last-child{
    border-radius: 0 0 10px 10px;
    height:160px;
    background-color: #393e46;
}




.borderLeft{
    border-bottom: 1px solid #00adb5;
    position: absolute;
    bottom: 0;
    left:10%;
    right:10%;
}

.workout-creator-element-heading{
    font-size: 1.2rem;
    color: #00adb5;
    margin: 10px 0 10px 0;
    
}

.workout-creator-element-content{
    display:flex;
    margin:10px;
}

.workout-creator-element-content-radio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0px 20px;
    align-items: center;
    text-align: center;
}

.workout-creator-element-content-radio input[type="radio"]{
    margin: 10px;
}

.workout-creator-element-content-switchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 20px;
}

.workout-creator-element-content-switchName{
    margin-bottom: 10px;
}

/* Toggle-Switch Buttons */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #393e46;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    border: 1px solid #00adb5;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #eeeeee;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    
  }
  
  input:checked + .slider {
    background-color: #00adb5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00adb5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }







.responsiveTable{
    width:80%;
    margin:20px auto;
}


.exercise-row > Td{
    text-align: center;
    background-color: #393e46;
    padding:3px;
}

Thead{
    background-color: #222831;
    margin-bottom: 10px;
}

.exercise-heading{
    padding: 7.5px;
}




@media screen and (max-width: 40em) {
    .workout-creator-container{
        width:95%;
    }
      .responsiveTable tbody tr {
        border: 1px solid #eeeeee;
        padding:0.25em 0;
      }
      .typeDescription-content{
        /* padding:20px 0; */
        width:80%;
        /* text-align: left; */
    }
    .responsiveTable{
        width:100%;
    }
   
}