.responsiveTable{
    width:80%;
    margin:80px auto;
}


.exercise-row > Td{
    text-align: center;
    background-color: #393e46;
    padding:3px;
}

Thead{
    background-color: #222831;
    margin-bottom: 10px;
}

.exercise-heading{
    padding: 7.5px;
}

@media screen and (max-width: 40em) {

      .responsiveTable tbody tr {
        border: 1px solid #eeeeee;
        padding:0.25em 0;
      }
}