.workout-creator-container{
    width:80%;
    margin: 0 auto;
    
}

.workout-creator-element{
    margin:20px 0;
    background-color: #222831;
    height:100px;
    
}


.workout-creator-container-options{
    border:1px solid #00adb5;
    border-radius: 10px;
}


.workout-creator-container-selectedType{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    padding:20px 0;
    border-radius: 10px 10px 0 0;
}

.workout-creator-container-selectedType> select{
    background-color: #222831;
    color: #eeeeee;
    border: 1px solid #00adb5;
    border-radius: 10px;
    padding:10px;
    margin-left:10px;
}

.workout-creator-container-typeDescription{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color:#393e46 ;
       
}
    


.typeDescription-heading{
    width: 60%;
    font-size: 1.5rem;
    padding-top:20px;
    text-align: left;
    border-bottom: 1px solid #00adb5;
   
}

.typeDescription-content{
    padding:20px 0;
    width:60%;
    text-align: left;
}

.add-type-button{
    padding:8px 20px;
    background-color: #00adb5;
    border: 1px solid #eeeeee;
    color: #eeeeee;
    margin:10px;
    border-radius:10px;
}

.workout-creator-elements-container{
   
}

.workout-creator-element{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:120px;
    margin: 0;
    position: relative;
}
.workout-creator-element:last-child{
    border-radius: 0 0 10px 10px;
}

.borderLeft{
    border-bottom: 1px solid #00adb5;
    position: absolute;
    bottom: 0;
    left:10%;
    right:10%;
}

.workout-creator-element-heading{
    font-size: 1.2rem;
    color: #00adb5;
    margin: 10px 0 10px 0;
    
}

.workout-creator-element-content{
    display:flex;
    margin:10px;
}

.workout-creator-element-content-radio{
    padding:0px 20px;
}











.responsiveTable{
    width:80%;
    margin:20px auto;
}


.exercise-row > Td{
    text-align: center;
    background-color: #393e46;
    padding:3px;
}

Thead{
    background-color: #222831;
    margin-bottom: 10px;
}

.exercise-heading{
    padding: 7.5px;
}




@media screen and (max-width: 40em) {

      .responsiveTable tbody tr {
        border: 1px solid #eeeeee;
        padding:0.25em 0;
      }
}